<div class="row">
    <div class="col-md-12 text-center">
        <h1>Eat Da Burgers!</h1>
    </div>
</div>
<br>
<br>

<div class="row">

    <div class="col-md-6">
        <div class="card">

        <h2>Burgers that are ready to be devoured!</h2>

        
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
        </div>
    </div>
    <div class="col-med-6">
        <div class="card">
        <h2>Burgers that have been devoured!</h2>

        
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                {{/if}}
            {{/each}}
        

        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12 text-center">

        <h2>Chef up a burger!</h2>

        <form class="create-form">

            <div class="form-group">
                <label for="nb">Burger Type:</label>
                <input type="text" id="nb" name="name">
            </div>
            <button type="submit">Make Da Burger</button>
        </form>
    </div>
</div>
